.users-create-according {
    margin-bottom: 20px;
}

#content-header {
    background: none;
}

.sidenav-container {
    width: 100%;
    height: 200px;
}

.sidenav-content {
    background-color: #ffffff;
    padding-left: 15px;
}
